<!-- templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Upload Declarations Page</title>
  </head>
  <body>
    <h1>Upload Your Declarations Page</h1>
    <form action="/upload_process" method="post" enctype="multipart/form-data">
      <input type="file" name="declarations_file" accept="application/pdf" required />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>